body {
    flex-direction: column;
    font-family: arial;
    min-height: 100vh;
    max-width: 650px;
    padding: 0 16px;
    color: #333333;
    margin: 0 auto;
    display: flex;
}

.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    color: #888888;
}

header {
    margin: 16px 0 48px 0;
}

h1 {
    margin-bottom: 16px;
    font-size: 64px;
}

header a {
    text-decoration: none;
    margin-right: 16px;
    color: #888888;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    border: 1px solid #888888;
    background: #888888;
    cursor: pointer;
    color: white;
}
